<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UseAccessorMethodsInInitializerMethodsAndDeallocDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4639A69E1D52E79000D780D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4639A6B71D52E79100D780D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4639A6C21D52E79100D780D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
